<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Droper</title>
    <style>
        div:focus {
            color: yellow;
            border: 1px solid black;
            outline: none;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div class="app">
        <header>
            <h4>Colors</h4>
            <input type="text" v-model="newColor" @keyup.enter="addColor">
        </header>
        <main>
            <div v-for="color in filteredColors" 
            :style="{ backgroundColor: color.num }"
            @click="copyColor(color.num, $event)" 
            @keyup.delete="removeColor(color.key)"
            tabindex="-1"
            v-cloak>{{ color.num }}</div>
            <!--use tabindex to enable focusable on divs-->
            <!--then keyup could be caught on divs-->
        </main>
    </div>

    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./src/color-dropper.js"></script>    
</body>
</html>